{% extends 'layout.html' %}
{% block body %}
<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="card shadow rounded-4 border-0">
      <div class="card-body">
        <h3 class="text-center mb-4 text-dark text-primary">Cadastro de Produto</h3>
        <form method="post" action="{{url_for('produto.add_produto')}}">
          <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" name="nome" required class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Quantidade</label>
            <input type="number" name="quantidade_estoque" required class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Fabricante</label>
            <input type="text" name="fabricante" required class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Descrição</label>
            <input type="text" name="descricao" required class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Preço (R$)</label>
            <input type="number" step="0.01" min="0" name="preco" pattern="^\d+,\d{2}$" placeholder="ex: 99.99" required class="form-control">
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-dark btn-lg rounded-pill">Adicionar Produto</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
